# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.db

# Node/Angular
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
.angular/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
# Bases de datos
*.db
data/

frontend/.env